image efi-part.vfat {
        vfat {
                file Image {
                        image = "Image"
                }
		file e2000q-demo-board.dtb {
                        image = "e2000q-demo-board.dtb"
                }
        }

        size = 400M
}

image phydisk.img {
        hdimage {
                partition-table-type = "gpt"
        }

        partition boot {
                image = "efi-part.vfat"
                partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4
                offset = 32K
                bootable = true
        }

        partition root {
                partition-type-uuid = 0FC63DAF-8483-4772-8E79-3D69D8477DE4
                image = "core-image-xfce-e2000.ext4"
        }
}
